<a href="https://colab.research.google.com/github/Akshay0720/Akshay0720/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int(input("Enter a First Number:"))
b = int(input("Enter a Second Number:"))
c = a * b
print("Multiplication of a and b is :",c)

Enter a First Number:2
Enter a Second Number:2
Multiplication of a and b is : 4

In [ ]:
a = int(input("Enter a First Number:"))
b = int(input("Enter a Second Number:"))
b = a ** b
print("Power of a is :",b)

Enter a First Number:3
Enter a Second Number:4
Power of a is : 81

In [ ]:
a=6
b=7
temp = a
a=b
b=temp
print("Before a = 6 | after a  = ",a)
print("Before b = 7 | after b  = ",b)

Before a = 6 | after a  =  7
Before b = 7 | after b  =  6

In [ ]:
a = 10
b = 20
if a > b:
    print("a is max value")
else:
    print("b is max value")

b is max value

In [ ]:
a = int(input("Enter a First Number:"))
b = int(input("Enter a Second Number:"))
avg = (a+b) / 2
print("Avrage of a and b is :",avg)

Enter a First Number:3
Enter a Second Number:5
Avrage of a and b is : 4.0

In [ ]:
lst = []
num = int(input('How many numbers:'))
for n in range(num):
    numbers = int(input('enter number'))
    lst.append(numbers)
print("sum of elements in given list is :", sum(lst))

How many numbers:2
enter number1
enter number2
sum of elements in given list is : 3

In [ ]:
def unique_list(text_str):
    l = text_str.split()
    temp = []
    for x in l:
        if x not in temp:
            temp.append(x)
    return ' '.join(temp)

text_str = """ i am akshay from solapur akshay from solapur.
i am so much happy today! akshay is my name."""
print("Original String:")
print(text_str)
print("\nAfter removing duplicat words from the said string:")
print(unique_list(text_str))

Original String:
 i am akshay from solapur akshay from solapur.
i am so much happy today! akshay is my name.

After removing duplicat words from the said string:
i am akshay from solapur solapur. so much happy today! is my name.

In [ ]:
def simple_intrest(p,t,r):
    print("the principal is:",p)
    print("the time period is:",t)
    print("the rate of intrest is:",r)

    si = (p * t * r)/100

    print('the simple Intrest is:',si)
    return si
simple_intrest(50000,2,2)

the principal is: 50000
the time period is: 2
the rate of intrest is: 2
the simple Intrest is: 2000.0

2000.0

In [ ]:
#Q10. Take three sides of a triangle. And then calculate the area of the triangle.

a = float(input("Enter a First side:"))
b = float(input("Enter a Second side:"))
c = int(input("Enter a third side:"))

s = (a + b + c) / 2

#calculate the area
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('the area of the tringle is %0.2f' %area)

Enter a First side:20
Enter a Second side:20
Enter a third side:10
the area of the tringle is 96.82

In [ ]:
#Q11. Calculate grade of five subjects.
sub1 = 99
sub2 = 97
sub3 = 98
sub4 = 92
sub5 = 91
avg = (sub1+sub2+sub3+sub4+sub5) / 5
if(avg >= 90):
    print("Grade: A")
elif(avg >= 80 & avg < 90):
    print("Grade: B")
elif(avg >= 70 & avg < 80):
    print("Grade: B")
elif(avg >= 60 & avg < 70):
    print("Grade: B")
else:
    print("Grade: F")

Grade: A

In [ ]:
#Q12.
num = 20
if num > 1:
    for i in range(2,num):
        if (num % i) == 0:
            print(num,"is not a prime number")
            print(i,"times",num//i,"is",num)
            break
    else:
            print(num,"is a prime number")
else:
    print(num,"is not a prime number")

20 is not a prime number
2 times 10 is 20

In [ ]:
#Q13.
start = int(input("enter a number:"))
end = int(input("enter a number:"))
for i in range(start, end+1):
    if i>1:
        for j in range(2,i):
            if(i % j == 0):
                break
        else:
            print(i)

enter a number:10
enter a number:20
11
13
17
19

In [ ]:
#Q14.
txt = "Akshay"[::-1]
print(txt)

yahskA

In [ ]:
#Q15.

number = int(input("enter a Number :"))
revs_number = 0
while (number > 0):
    remainder = number % 10
    revs_number = (revs_number * 10) + remainder
    number = number // 10
print("the reverse number is : {}".format(revs_number))

enter a Number :123
the reverse number is : 321

In [ ]:
#Q16
my_str = 'aIbohphoBiA'
my_str = my_str.casefold()
rev_str = reversed(my_str)
if list(my_str) == list(rev_str):
    print("the string is a palindrome.")
else:
    print("the string is not a palindrome.")

the string is a palindrome.

In [ ]:
#Q17
num = int(input("enter a number :"))
sum = 0
temp = num
while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10
if num == sum:
    print(num,"is an Armstrong number")
else:
    print(num,"is not anArmstrong number")

enter a number :153
153 is an Armstrong number

In [ ]:
#Q18
import math

print("the gcd of 60 and 48 is : ",end="")
print(math.gcd(60, 48))

the gcd of 60 and 48 is : 12

In [ ]:
#Q19

def add(x, y):
    return x + y
def substract(x, y):
    return x - y
def multiply(x, y):
    return x * y
def divide(x, y):
    return x / y
print("select Operation.")
print("a.add")
print("b.substract")
print("c.multiply")
print("d.divide")
while True:
    choice = input("enter choice(1/2/3/4): ")
    if choice in ('1','2','3','4'):
        num1 = float(input("Enter a first number :"))
        num2 = float(input("Enter a second number :"))
        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))
        elif choice == '2':
            print(num1, "-", num2, "=", substract(num1, num2))
        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))
        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        break
    else:
        print("invalid choice")

select Operation.
a.add
b.substract
c.multiply
d.divide
enter choice(1/2/3/4): 1
Enter a first number :10
Enter a second number :20
10.0 + 20.0 = 30.0

In [ ]:
#Q20
def DecimalToBinary(num):

    if num >= 1:
        DecimalToBinary(num//2)
    print(num % 2, end = '')
if __name__ == '__main__':
    dec_val = 24
    DecimalToBinary(dec_val)

011000

In [ ]:
#Q21

x = [[12,7,3],
    [4,5,6],
    [7,8,9]]
Y = [[5,8,1],
    [6,7,3],
    [4,5,9]]
result = [[0,0,0],
         [0,0,0],
         [0,0,0]]
for i in range(len(x)):
    for j in range(len(x[0])):
        result[i][j] = x[i][j] + Y[i][j]
for r in result:
    print(r)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

In [ ]:
#Q22

In [ ]:
#Q23
def Split(listOne):
    even = []
    odd = []
    for i in listOne:
        if(i % 2 == 0):
            even.append(i)
    print("even lists:",even)
def Split(listTwo):
    even = []
    odd = []
    for j in listTwo:
        if(j % 2 != 0):
            odd.append(j)
    print("Odd lists:",odd)
listOne = [3,6,9,12,15,28,21]
listTwo = [4,8,12,16,20,24,28]
Split(listOne)
Split(listTwo)

Odd lists: [3, 9, 15, 21]
Odd lists: []

In [ ]:
#Q24
def remove(list1,pos):
    newlist = []
    for x in range(len(list1)):
        if x != pos:
            newlist.append(list1[x])
    print(*newlist)
list1 = [54,44,27,79,91,41]
pos = 4
remove(list1, pos)
list1.insert(-0,91)
print(list1)

54 44 27 79 41
[91, 54, 44, 27, 79, 91, 41]

In [ ]:
#Q25
firstlist={2,3,4,5,6,7,8}
secondlist={4,9,16,25,36,49,64}
result=[(i,j) for i in firstlist for j in secondlist if i != j]
print(result)

[(2, 64), (2, 16), (2, 49), (2, 4), (2, 36), (2, 9), (2, 25), (3, 64), (3, 16), (3, 49), (3, 4), (3, 36), (3, 9), (3, 25), (4, 64), (4, 16), (4, 49), (4, 36), (4, 9), (4, 25), (5, 64), (5, 16), (5, 49), (5, 4), (5, 36), (5, 9), (5, 25), (6, 64), (6, 16), (6, 49), (6, 4), (6, 36), (6, 9), (6, 25), (7, 64), (7, 16), (7, 49), (7, 4), (7, 36), (7, 9), (7, 25), (8, 64), (8, 16), (8, 49), (8, 4), (8, 36), (8, 9), (8, 25)]

In [ ]:
#Q26 implement stack

stack = []

stack.append('a')
stack.append('b')
stack.append('c')
print('Initial Stack')
print(stack)

print('\nElements poped from stack:')
print(stack.pop())
print(stack.pop())
print(stack.pop())
print('\nStack after elements are poped:')
print(stack)

Initial Stack
['a', 'b', 'c']

Elements poped from stack:
c
b
a

Stack after elements are poped:
[]

In [ ]:
#Q27 implement Queue
queue = []

queue.append('a')
queue.append('b')
queue.append('c')
print('\nInitial Queue')
print(queue)

print('\nElement dequeued from queue')
print(queue.pop(0))
print(queue.pop(0))
print(queue.pop(0))
print('\nQueue after removing elements')
print(queue)

Initial Queue
['a', 'b', 'c']

Element dequeued from queue
a
b
c

Queue after removing elements
[]

In [ ]:
#Q28 implement linked list
class Node:
    def __init__(self, dataval=None):
        self.dataval = dataval
        self.nextval = None

class SLinkedList:
    def __init__(self):
        self.headval = None

list1 = SLinkedList()
list1.headval = Node("mon")
e2 = Node("tue")
e3 = Node("wed")

list1.headval.nextval = e2

e2.nextval = e3

In [ ]:
#Q29

def bubblesort(list):

    for iter_num in range(len(list)-1,0,-1):
        for idx in range(iter_num):
            if list[idx]>list[idx+1]:
                temp = list[idx]
                list[idx] = list[idx+1]
                list[idx+1] = temp

list = [19,2,31,45,6,11,121,27]
bubblesort(list)
print(list)

[2, 6, 11, 19, 27, 31, 45, 121]

In [ ]:
def insertion_sort(InputList):
    for i in range(1,len(InputList)):
        j = i-1
        nxt_element = InputList[i]

        while(InputList[j] > nxt_element) and (j >= 0):
            InputList[j+1] = InputList[j]
            j = j - 1
        InputList[j+1] = nxt_element

list = [19,2,31,45,30,11,121,27]
insertion_sort(list)
print(list)

[2, 11, 19, 27, 30, 31, 45, 121]

In [ ]:
def selection_sort(input_list):

    for idx in range(len(input_list)):

        min_idx = idx
        for j in range(idx +1, len(input_list)):
            if input_list[min_idx] > input_list[j]:
                min_idx = j

                input_list[idx], input_list[min_idx] = input_list[min_idx], input_list[idx]

l = [19,2,31,45,30,11,121,27]
selection_sort(l)
print(l)

[11, 2, 27, 19, 30, 31, 45, 121]

In [ ]:
#Q30
def liner_search(values, search_for):
    search_at = 0
    search_res = False

    while search_at < len(values) and search_res is False:
        if values[search_at] == search_for:
            search_res = True
        else:
            search_at += 1  # Corrected from `search = search_at + 1`

    return search_res

l = [64, 34, 25, 12, 22, 11, 90]


print(liner_search(l, 12))
print(liner_search(l, 91))

True
False